/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #87CEEB, #D2B48C);
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}
.Auth-form {
  width: 200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 80px;
}
.Auth-form-title {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
}
.text-center {
  text-align: center;
}
.link-primary {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}
.form-control:focus {
  outline: none;
  border-color: #b1b5b9;
}
.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #b1b5b9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #b1b5b9;
}

.btn-primary:active {
  transform: translateY(1px);
}

/* Additional styles for responsiveness */
/* @media (max-width: 480px) {
  .Auth-form {
    width: 90%;
  }
} */ 
/* Auth.css */


/* Auth.css */

/* Auth.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #87CEEB, #D2B48C);
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Auth-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}

.Auth-form-title {
  text-align: center;
  font-size: 24px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  background-color:black;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

